<section class="bg-light py-5">
  <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h1 class="fw-bolder">Hazte socio</h1>
          <p class="lead fw-normal text-muted mb-0">Disfruta de TGT de la manera que tú prefieras.</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <!-- Pricing card free-->
          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">Común</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$4.99</span>
                          <span class="text-muted">/ mo.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>Revista del mes</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Nombre en la sección de agradecimiento
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Acceso de Nivel 1 en Discord
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Descuento en Videojuegos
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              Entrevistas en vivo
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              Cambiar
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              Cambiar
                          </li>
                          <li class="text-muted">
                            <i class="bi bi-x"></i>
                            Cambiar
                         </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Recibela por $4.99</a></div>
                  </div>
              </div>
          </div>
          <!-- Pricing card pro-->
          <div class="col-lg-6 col-xl-4">
              <div class="card mb-5 mb-xl-0">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold">
                          <i class="bi bi-star-fill text-warning"></i>
                          Épico
                      </div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$9.99</span>
                          <span class="text-muted">/ mo.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>Revista del mes</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Nombre en la sección de agradecimiento
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Acceso de Nivel 2 en Discord
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Descuento en Videojuegos
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Entrevistas en vivo
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Cambiar
                          </li>
                          <li class="mb-2 text-muted">
                              <i class="bi bi-x"></i>
                              Cambiar
                          </li>
                          <li class="text-muted">
                              <i class="bi bi-x"></i>
                              Cambiar
                          </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-primary" href="#!">Recibela por $9.99</a></div>
                  </div>
              </div>
          </div>
          <!-- Pricing card enterprise-->
          <div class="col-lg-6 col-xl-4">
              <div class="card">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">Legendario</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">$14.99</span>
                          <span class="text-muted">/ mo.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong>Revista del mes</strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Nombre en la sección de agradecimiento
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Acceso de Nivel 3 en Discord
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Descuento en Videojuegos
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Entrevistas en vivo
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Cambiar
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Cambiar
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              Cambiar
                          </li>
                      </ul>
                      <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Recibela por $14.99</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
