<header class="py-5">
  <div class="container px-5">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
              <div class="text-center my-5">
                  <h1 class="fw-bolder mb-3">Nuestra mision es mantenerte informado.</h1>
                    <p class="lead fw-normal text-muted mb-4">
                        The Games Times, es la revista de gamers para gamers, nuestro objetivo es proveer informacion y analisis sobre los videojuegos y tecnologia de los videojuegos actuales y pasados. 
                        Puedes subscribirte para recibir la revista de manera mensual, y dependiendo del plan también puedes recibir cosas adicionales.
                    </p>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">Nuestra Creacion</h2>
                <p class="lead fw-normal text-muted mb-0">
                    The Games Times, es una revista online, informativa y de entretenimiento, 
                    diseñada y dedicada a las personas que son amantes y entusiastas de los videojuegos, 
                    así como de la tecnología que se usa para desarrollar los mismos. 
                </p>
          </div>
      </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">Nuestros Objetivos</h2>
                <p class="lead fw-normal text-muted mb-0">
                    Es diseñar y ofrecer una revista online de alta calidad, que informe y mantenga a los aficionados 
                    y entusiastas de los videojuegos al día sobre la actualidad en este sector; otorgando de manera periódica,
                    acceso a la información actual en el sector de los videojuegos, desde la comodidad de su casa.
                </p>
          </div>
      </div>
  </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="fw-bolder">Nuestro equipo</h2>
          <p class="lead fw-normal text-muted mb-5">Encargados de darte la mejor experiencia de lectura</p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                  <h5 class="fw-bolder">José Gómez</h5>
                  <div class="fst-italic text-muted">Fundador &amp; Escritor</div>
              </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                  <h5 class="fw-bolder">María López</h5>
                  <div class="fst-italic text-muted">Co-fundadora &amp; Editora</div>
              </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                  <h5 class="fw-bolder">Anibal Arevalo</h5>
                  <div class="fst-italic text-muted">Escritor &amp; Editor</div>
              </div>
          </div>
      </div>
  </div>
</section>