<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
        <img src="./assets/img/logo.jpg" width="40px" height="40px" id=logo alt="Logo image" style="margin-left: 10px; margin-right: 10px;"/>
      <a class="navbar-brand" routerLink="">{{infoPage.info.title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" routerLink="content">Contenido</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="about">Nosotros</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="help">Ayuda</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Revistas</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                      <li><a class="dropdown-item" routerLink="portfolio-overview">Revista Demo</a></li>
                      <li><a class="dropdown-item" routerLink="portfolio-overview">Prueba</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
