<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-7">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">¿Ya hiciste el pago de la suscripción?</h1>
                    <p class="lead fw-normal text-muted mb-4">Ve agregando tu información mientras validamos tu pago.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center ">
            <div class="col-lg-8 col-xxl-3">
                <div class="text-center mb-5">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label fw-bolder mb-3">Ingresa tu correo electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@hotmail.com">
                        <label for="exampleFormControlInput1" class="form-label fw-bolder mb-3 my-4">Ingresa tu usuario de Discord</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name#0000">
                        <button type="submit" class="btn btn-icon my-4 mb-5">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>