<header class="bg-logo py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-6 fw-bolder text-white mt-5 mb-2">Para amantes de videojuegos</h1>
                    <p class="fw-normal text-white-50 mb-5 text-center">En The Games Times, todos los meses, 60 páginas llenas de contenido.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Content section 1-->
<section class="bg-light" id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded" src="./assets/img/critica.jpg" alt="..." width="900px" height="900px" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Críticas libres</h2>
                    <p>
                        En cada número, encontrarás críticas de los lanzamientos más
                        relevantes del mes. Textos en los que vivirás en primera persona
                        las impresiones de nuestros escritores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section class="bg-gray">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded" src="./assets/img/consola.png" alt="..." width="900px" height="900px" /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Columnas de opinión</h2>
                    <p>
                        En TGT la opinión es importante, por lo que en cada revista
                        encontrarás artículos en los que nuestros escritores opinan
                        y debaten sobre la actualidad del mundo virtual.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded" src="./assets/img/pc.jpg" alt="..." width="600px" height="600px" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-5 mb-2">Sección de Tecnología</h2>
                    <p>
                        En cada número, encontrarás secciones relacionadas a la
                        nueva tecnología y actualmente usada en el mundo de los videojuegos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded" src="./assets/img/reportajes.jpg" alt="..." width="900px" height="900px" /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Reportajes atemporales y más</h2>
                    <p>
                        En nuestras páginas encontrarás reportajes capaces de trascender
                        en el tiempo; además, TGT más que una linda portada,
                        cada mes trabajamos en contenido especial relacionado a los integrantes
                        de la portada, desde reportajes, entrevistas y mucho más...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-suscription></app-suscription>